$screen-xs-400: 400px;
$screen-xs-450: 450px;
$screen-xs-500: 500px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-fhd-min: 1600px;
$container-sm: 750px;
$container-md: 970px;
$container-lg: 1100px;
$container-fhd: 1500px;
$extended-container: 1;

//colors

$gray_text: #767676;
$orange_text: #F0542D;
$section_header_color: #364352;