@import "constants";
@import "grid";
@import "mixins";
.about {
  padding-bottom: 60px;
  p {
    padding-top: 10px;
    text-align: justify;
  }
  .logo {
    margin: 20px auto 0 auto;
    display: block;
    width: 500px;
  }
}

.about-header {
  position: relative;
  padding: 60px 0 25px 0;
  text-align: center;
  border-bottom: 1px solid #EDEDED;
  margin-bottom: 30px;
  color: $section_header_color;
}



