@import "constants";
@import "grid";
@import "mixins";

.services {
  padding-bottom: 60px;
}
.service-header {
  position: relative;
  padding: 60px 0 25px 0;
  text-align: center;
  border-bottom: 1px solid #EDEDED;
  margin-bottom: 30px;
  color: $section_header_color;
}
.service-body {
  @include flexbox();
  justify-content: space-between;
  align-items: center;
}
.service {
  .service-img {
    display: inline-block;
    width: 30%;
    margin-right: 20px;
    img {
      width: 100%;
    }
  }
  .service-info {
    width: 70%;
    display: inline-block;
    height: 100%;
  }
}