block footer
  footer
    .container
     .contacts#contacts
       h2 CONTACTS
       p Московская область
       p Сергиево-Посадский район
       p с. Шеметово, ул.Садовая, д.91
       p.phone +7(499)130-95-01
       p tsk.bs@mail.ru
     include callForm
