block header
  header
    .container.header-container
      img.header-logo(src="/images/logo.png")
      div.header-contact
        div.header-contact-mail
          div
            i.fa.fa-envelope-open-o(aria-hidden="true")
          p WANT AN APPROXIMATE PRICE?
            br
            a GET A FREE QUOTE »
        div.header-contact-phone
          i.fa.fa-phone(aria-hidden="true")
          div
            p CALL US NOW
              br
              a 8-800-555-35-35
