block header
  header
    .container.header-container
      img.header-logo(src="/images/logo.png")
      div.header-contact
        div.header-contact-mail
          p ЕСТЬ ВОПРОСЫ?
          p
            i.fa.fa-envelope-open-o(aria-hidden="true")
            a#header-contacts-link СВЯЖИТЕСЬ С НАМИ »
            br
            i.fa.fa-at(aria-hidden="true")
            a(href="mailto:tsk.bs@mail.ru") tsk.bs@mail.ru
        div.header-contact-phone

          div
            p ПОЗВОНИТЕ СЕЙЧАС
              br
              i.fa.fa-phone.fa-lg(aria-hidden="true")
              a(href="tel:+7(499)130-95-01") +7(499)130-95-01
              br
              i.fa.fa-phone.fa-lg(aria-hidden="true")
              a(href="tel:+7(903)130-95-01") +7(903)130-95-01
