block header
  header
    .container.header-container
      img.header-logo(src="/images/logo.jpg")
      div.header-contact
        div.header-contact-mail
          div
            i.fa.fa-envelope-open-o(aria-hidden="true")
          p ЕСТЬ ВОПРОСЫ?
            br
            a#header-contacts-link СВЯЖИТЕСЬ С НАМИ »
        div.header-contact-phone

          div
            p ПОЗВОНИТЕ СЕЙЧАС
              br
              i.fa.fa-phone.fa-lg(aria-hidden="true")
              a(href="tel:+7(499)130-95-01") +7(499)130-95-01
              br
              i.fa.fa-phone.fa-lg(aria-hidden="true")
              a(href="tel:+7(903)130-95-01") +7(903)130-95-01
