extends layout


block singlePageCSS
  link(rel='stylesheet', href='/stylesheets/about.css')
block content
  .container.about
    .about-content
      h2.about-header О НАС
      p.
        ООО «ТСК Бетон Строй» — профессиональный поставщик строительных материалов. Наша основная деятельность – комплектация строительных объектов на всех стадиях строительства.
        Компания «ТСК Бетон Строй» производит и продает высококачественную бетонную продукцию.
      p.
        В нашем ассортименте широчайший выбор бетонных смесей – от общестроительных до специальных. Собственный парк автобетоносмесителей (АБС), позволяет нам обеспечить доставку бетона в пределах Москвы и ближайшего Подмосковья в минимальные сроки. Бетон можно купить как с доставкой, так и на самовывоз.
        ООО «ТСК Бетон Строй» также занимается производством надежных железобетонных изделий. Наша продукция успешно применяется при устройстве подземных коммуникаций и проведении строительных работ Мы считаем, что в условиях современного рынка и нынешней конкуренции, необходимо обеспечить потребителя большим ассортиментом ЖБИ продукции, ее высоким качеством и приемлемым уровнем цен. Из чего, непосредственно, и складывается конечная стоимость постройки того или иного сооружения.
      p.
        Ассортимент продукции широк настолько, что здесь, в одном месте, можно приобрести исключительно полный перечень всех необходимых материалов. Вам не придется собирать товар по разным компаниям. Также, вам не придется ждать, ибо складские мощности компании позволяют обеспечивать беспрерывный строительный процесс.
        Наша компания длительное время занимается оптовыми и розничными поставками нерудных строительных материалов на различные объекты г. Москвы и Московской области.Мы обеспечиваем быструю доставку материалов в короткие сроки по Москве и Московской области. Заказывая у нас нерудные материалы, вы не переплачиваете посредникам: все цены на песок, щебень, камень и гравийную крошку от производителя.
        Сэкономьте время — купите качественный щебень, песок и гравийную крошку на сайте по самым актуальным ценам и мы доставим их на следующий день после оплаты заказа. Особые условия доставки для оптовиков, постоянным клиентам предоставляются скидки.
    .why-us
      h2.about-header  ПОЧЕМУ МЫ?
      p.
        Основным видом деятельности нашей Компании является производство и продажа бетона, раствора, ЖБ изделий, а также реализация всех нерудных материалов. Наше главное достижение — доверие Клиентов. Ведь залог успеха нашей компании — честность и пунктуальность, наряду с конкурентными ценами.
        Главной задачей ООО «ТСК Бетон Строй» было и остается надежное и своевременное обеспечение предприятий строительного комплекса г. Москвы и ближнего Подмосковья качественными бетонными и растворными смесями.
        Наш завод работают круглосуточно без праздничных и выходных дней, что дает возможность ни на минуту не останавливать работу на строительных площадках.
        Мы всегда рады работе, новым партнерам и открыты для взаимовыгодного сотрудничества!

      p.
        Демократичные цены, значительные скидки на большой объем продукции, индивидуальный подход к каждому клиенту и предоставление дополнительных льгот постоянным заказчикам - обеспечивают наступательное развитие нашей компании. Мы производим свою продукцию с применением только качественных составляющих бетонов и хороших монтажных растворов на современном оборудовании, вся реализуемая продукция проходит лабораторные исследования и полностью соответствует ГОСТу.

      p.
        Работая с нами, вы получите:
        Точный и оперативный расчет цены и количества бетона;
        Консультации наших специалистов по всем возникающим вопросам.
        Высокое качество бетона, жби и нерудные материалы , подтвержденное сертификатами;
        Своевременную доставку до объекта строительства;
        Сертификаты на все классы бетона и раствора;