extends layout


block singlePageCSS
  link(rel='stylesheet', href='/stylesheets/contacts.css')
block content
  section.map#map
    script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=0qH3KGA5gbR_DOdIlL8fekIDcdh4Ha9C&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true")
  .container.contacts
    h2.contact-header КАК С НАМИ СВЯЗАТЬСЯ
    .contacts-body
      article
        i.fa.fa-map-marker.r.fa-3x(aria-hidden="true")
        p Московская область, Сергиево-Посадский район, с. Шеметово, ул.Садовая, д.91
        a(href='#map') Map →
      article
        i.fa.fa-map-marker.r.fa-3x(aria-hidden="true")
        p Московская область, поселок Мамыри, ул.Адмирала Корнилова, д.5, стр.2
        a(href='#map') Map →
      article
        i.fa.fa-map-marker.r.fa-3x(aria-hidden="true")
        p Московская область, Рузский район, с.Никольское
        a(href='#map') Map →
      article
        i.fa.fa-map-marker.r.fa-3x(aria-hidden="true")
        p Московская область, г.Москва, ул.Вернисажная, д.13
        a(href='#map') Map →
      article
        i.fa.fa-phone.r.fa-3x(aria-hidden="true")
        p +7(499)130-95-01
        p +7(903)130-95-01
      article
        i.fa.fa-clock-o.r.fa-3x(aria-hidden="true")
        p Офис: 10.00-19.00
        p Приём заявок: Круглосуточно


