extends layout


block singlePageCSS
  link(rel='stylesheet', href='/stylesheets/index.css')
block content
  .carousel
    div.first-slide
      h1 МЫ - ФУНДАМЕНТ БУДУЩЕГО
    div.second-slide
      h1 МЫ - ФУНДАМЕНТ БУДУЩЕГО
  .container
    section.pyramid
      div.first
        i.fa.fa-cubes.fa-5x(aria-hidden="true")
        a(href="/products#beton") БЕТОН
        a.hack(href="/products#beton")
        p Бетон наиболее современный и широко используемый строительный материал от качества которого зависит не только срок службы здания но и человеческие жизни.
      div.second
        i.fa.fa-server.fa-5x(aria-hidden="true")
        a(href="/products#zbi") ЖБИ
        a.hack(href="/products#zbi")
        p Одним из наиболее востребованных железобетонных изделий при прокладке коммуникаций из сборных элементов являются бетонные кольца.
      div.third
        i.fa.fa-align-center.fa-5x(aria-hidden="true")
        a(href="/products#nerud") НЕРУДНЫЕ МАТЕРИАЛЫ
        a.hack(href="/products#nerud")
        p Зарекомендовала себя как надежного поставщика нерудных строительных материалов на строительные объекты города Москвы и Московской области.
  section.advantages
    .container
      h2.section-header ПРЕИМУЩЕСТВА
      //article
      //  span.advantages-article-header
      //    span.boxed Т
      //    span ОЧНОСТЬ
      //  p Точный и оперативный расчет цены и количества бетона.
      //article
      //  span.advantages-article-header
      //    span.boxed К
      //    span АЧЕСТВО
      //  p Высокое качество бетона, жби и нерудных материалов, подтвержденное сертификатами.
      //article
      //  span.advantages-article-header
      //    span.boxed О
      //    span ПЕРАТИВНОСТЬ
      //  p Своевременная доставка до объекта строительства.
      article
        span.advantages-article-header
          span.boxed К
          span АЧЕСТВО
        p Аттестованная лаборатория качества при заводах-производителях.
        p Современные высокотехнологичные установки для производства бетонной продукции.
        p Сертификация, согласно требованиям ГОСТ.
      article
        span.advantages-article-header
          span.boxed Д
          span ОСТУПНОСТЬ
        p Рыночные критерии формирования стоимости.
        p Прозрачные цены, фиксированные прайсом.
        p Скидка при повторном заказе.

      article
        span.advantages-article-header
          span.boxed З
          span АВОДЫ
        p График работы заводов 24/7.
        p Производительность установок 120 куб/м в час.
        p Бесплатный выезд консультанта на объект.
      article
        span.advantages-article-header
          span.boxed А
          span ВТОПАРК
        p Собственные автобетоносместители-миксеры, автобетононасосы и самосвалы.
        p Круглосуточная доставка продукции в любую точку Москвы и Подмосковья.
        p Система мониторинга и контроля перевозимых грузов.
  .container
    section.services
      h2.section-header УСЛУГИ
      article
        img(src="/images/service2.png")
        h3 Грузоперевозки
        p Услуги грузоперевозок на бортовом  не тентованном грузовике, грузоподъемностью до 4,5 т.
        a(href="/services#transport") Узнать больше »
      article
        img(src="/images/service1.png")
        h3 Автобетононасосы
        p Подбор и поставке бетонных насосов.Производительность АБН от 50 до 80 м3 в час.
        a(href="/services#pump") Узнать больше »
      article
        img(src="/images/service3.png")
        h3 Автобетоносмесители
        p Доставка бетонной/растворной смеси автобетоносмесителем с транспортировочной лентой 17м.
        a(href="/services#mixer") Узнать больше »
  section.gallery
    h2.section-header(style="margin-bottom: 0") ГАЛЕРЕЯ
    .gallery-content
      img(src="/images/gallery/2.jpg")
      img(src="/images/gallery/1.jpg")
      img(src="/images/gallery/3.jpg")
      img(src="/images/gallery/8.jpg")
      img(src="/images/gallery/5.jpg")
      img(src="/images/gallery/6.jpg")
      img(src="/images/gallery/7.jpg")
      img(src="/images/gallery/4.jpg")
    script.
        $('.gallery-content').slick({
            prevArrow: '<button type="button" class="slick-prev">❮</button>',
            nextArrow: '<button type="button" class="slick-next">❯</button>',
            slidesToShow: 3,
            slidesToScroll: 1,
            speed: 1000
        });
  section.about-us#about
    .container
      .about-content
        h2 О НАС
        p.
          Основным видом деятельности нашей Компании является производство и продажа бетона, раствора, ЖБ изделий, а также реализация всех нерудных материалов. Наше главное достижение — доверие Клиентов. Ведь залог успеха нашей компании — честность и пунктуальность, наряду с конкурентными ценами.
        p.
          Главной задачей ООО «ТСК Бетон Строй» было и остается надежное и своевременное обеспечение предприятий строительного комплекса г. Москвы и ближнего Подмосковья качественными бетонными и растворными смесями.
          Наш завод работают круглосуточно без праздничных и выходных дней, что дает возможность ни на минуту не останавливать работу на строительных площадках.
          Мы всегда рады работе, новым партнерам и открыты для взаимовыгодного сотрудничества!Напишите письмо на наш электронный ящик и наши менеджеры свяжутся с вами в кратчайшие сроки.
      .why-us
        h2 ПОЧЕМУ МЫ?
        p.
          Работая с нами, вы получите:
          Точный и оперативный расчет цены и количества бетона;
          Консультации наших специалистов по всем возникающим вопросам.
          Высокое качество бетона, жби и нерудные материалы , подтвержденное сертификатами;
          Своевременную доставку до объекта строительства;
          Сертификаты на все классы бетона и раствора;
        p.
          Демократичные цены, значительные скидки на большой объем продукции, индивидуальный подход к каждому клиенту и предоставление дополнительных льгот постоянным заказчикам - обеспечивают наступательное развитие нашей компании. Мы производим свою продукцию с применением только качественных составляющих бетонов и хороших монтажных растворов на современном оборудовании, вся реализуемая продукция проходит лабораторные исследования и полностью соответствует ГОСТу.
        p.
          Зарекомендовала себя как надежного поставщика нерудных строительных материалов на строительные объекты города Москвы и Московской области. Наши заказчики ― крупные подрядные строительные организации, а также частные лица, приобретающие песок карьерный, мытый, щебень известняковый, гранитный, гравийный, бетон и раствор для частного строительства. Вся продукция имеет сертификаты соответствия и паспорта качества.
          Мы обладаем собственным автопарком самосвалов с разными объемами кузова.
          Нашими преимуществами являются качество продукции, которую мы поставляем и оперативность доставки.
          Будем рады видеть Вас в числе наших довольных клиентов.
  section.ourCustomers
    h2.section-header НАШИ ЗАКАЗЧИКИ
    .customers
      img(src="/images/zakaz/arks1.png")
      img(src="/images/zakaz/inteko1.png")
      img(src="/images/zakaz/morton1.png")
      img(src="/images/zakaz/ms171.png")
      img(src="/images/zakaz/msu11.png")
      img(src="/images/zakaz/termoservice1.png")
  section.map
    script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=0qH3KGA5gbR_DOdIlL8fekIDcdh4Ha9C&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true")
