extends layout


block singlePageCSS
  link(rel='stylesheet', href='/stylesheets/products.css')
block content
  .container.products
    .product#beton
      h2.product-header БЕТОН
      div.product-content
        .product-desc
          p.
            ТСК Бетон Строй гарантирует высокое качество бетона, цена на который будет приемлема! Поэтому партнерства с нашей компанией действительно считается выгодным! Каждый клиент получает то что ему нужно! Мы предоставим вам обширный выбор бетона и раствора различных марок, которые будут надежным строительным материалом в вашем строительстве..
            Для организации оперативной доставки бетона на нашем предприятии имеются современные автобетоносмесители с различным объёмом бочки. При доставке бетона в Москве и Московской области на руки нашему клиенту мы выдаём паспорт качества! Данный документ имеет собственный номер и находится на фирменном бланке компании. В этом документе указаны все характеристики поставленного бетона влагостойкость,морозостойкость,класс прочности и химические добавки которые были использованы при производстве бетона в Москве.
          a.donwload-link(href="/prices/beton.xlsx" download) Скачать прайс лист
        .table
          table
            thead
              tr
                td Тип изделия
                td Марка
                td Заполнитель
                td Цена, руб
            tbody
              tr
                td БСГ 7,5 П4 F100 W2
                td М100
                td Гравий
                td 2850
              tr
                td БСГ 12,5 П4 F100 W2
                td М150
                td Гравий
                td 3000
              tr
                td БСГ 15 П4 F100 W2
                td М200
                td Гравий
                td 3120
              tr
                td БСГ 20 П4 F100 W4
                td М250
                td Гравий
                td 3250
              tr
                td БСГ 22,5 П4 F150 W6
                td М300
                td Гравий
                td 3350
    .product#zbi
      h2.product-header ЖБИ
      div.product-content
        .product-desc
          p.
            Одним из наиболее востребованных железобетонных изделий при прокладке коммуникаций из сборных элементов являются бетонные кольца. Их используют при установке водопроводных шахт теплосетей и водоснабжения! Так же плотно применяются при прокладке кабеля высокого напряжения и устройство отстойных ям и септиков! Главным отличием сборных элементов считается размер как и по высоте как и по радиусу!
            Какие бывают бетонные кольца
            Кольцо колодезное гладкое
            Кольцо колодезное с замком
            Доборный элемент
            Опорные кольца
            Днище
            Все эти элементы присутствуют на складских и производственных площадках нашего предприятия и мы готовы произвести быструю доставку жби колец на объект заказчика. Ассортимент и качества выпускаемых железобетонных колец приятно удивит каждого клиента у которого появилась потребность в приобретение данной продукции.
          a.donwload-link(href="/prices/zbi.xlsx" download) Скачать прайс лист
        .table
          table
            thead
              tr
                td Наименование
                td D внутр,мм
                td Высота,мм
                td Цена, руб
            tbody
              tr
                td КС 7-4 ч
                td 700
                td 400
                td 500
              tr
                td КС 7-5 ч
                td 700
                td 500
                td 550
              tr
                td КС 7-6 ч
                td 700
                td 600
                td 750
              tr
                td КС 7-8 ч
                td 700
                td 800
                td 850
              tr
                td КС 7-9 ч
                td 700
                td 900
                td 900

    .product#nerud
      h2.product-header НЕРУДНЫЕ МАТЕРИАЛЫ
      div.product-content
        .product-desc
          p.
            Зарекомендовала себя как надежного поставщика нерудных строительных материалов на строительные объекты города Москвы и Московской области. Наши заказчики ― крупные подрядные строительные организации, а также частные лица, приобретающие песок карьерный, мытый, щебень известняковый, гранитный, гравийный, бетон и раствор для частного строительства. Вся продукция имеет сертификаты соответствия и паспорта качества.
            Мы обладаем собственным автопарком самосвалов с разными объемами кузова.
            Нашими преимуществами являются качество продукции, которую мы поставляем и оперативность доставки.
            Будем рады видеть Вас в числе наших довольных клиентов.
          a.donwload-link(href="/prices/nerud.docx" download) Скачать прайс лист
        .table
          table
            thead
              tr
                td Наименование
                td Цена, за м<sup>3</sup>
            tbody
              tr
                td Песок карьерный
                td от 600 руб.
              tr
                td Песок карьерный сеяный
                td от 700 руб.
              tr
                td Песок карьерный мытый
                td от 800 руб.
              tr
                td Песок речной
                td от 950 руб.
              tr
                td Щебень гранитный фр. 5-20
                td от 2150 руб.



