extends layout


block singlePageCSS
  link(rel='stylesheet', href='/stylesheets/services.css')
block content
  .container.services
    .service#transport
      h2.service-header ГРУЗОПЕРЕВОЗКИ
      .service-body
        .service-img
          img(src="/images/service1.jpg")
        .service-info
          p.
            Предлагаем услуги грузоперевозок на бортовом не тентованном грузовике, грузоподъемностью до 4,5 т.
          p.
            Стоимость грузоперевозок:
            <br><br>
            1. Минимальный заказ до 20 км – 1500 руб.
            <br>
            2. При расстоянии более 20 км – 1500руб. + 50 руб. за каждый последующий километр. МИБ - АВТОБЕТОНОНАСОСЫ
    .service#pump
      h2.service-header МИБ - АВТОБЕТОНОНАСОСЫ
      .service-body
        .service-img
          img(src="/images/service2.jpg")
        .service-info
          p.
            Для обеспечения комплексного решения задач по поставке товарного бетона ОАО "ТСК Бетон Строй" оказывает сервис по подбору и поставке бетонных насосов. Производительность АБН от 50 до 80 м3 в час. Длина стрелы в зависимости от марки АБН от 32 до 62 м, возможно наращивания трасы до 40 погонных метров.
            <br><br>
            Условия работы:
            <br>
            1. Для установки АБН требуется площадка с твердым покрытием с уклоном не более 3%.
            <br>
            2. Для запуска АБН требуется 1-2 м3 пусковой смеси заводского изготовления.
            <br>
            3. Наличие горячей (только в зимнее время) или холодной (только в летнее время) воды в количестве не менее 1-2 м3.
            <br>
            4. Место для слива воды после технологической промывки.
            <br>
            5. Перерывы между подачей бетонной смеси не должны превышать 30 мин., а при температуре ниже -5°C или выше 25°C их быть не должно.
            <br>
            6. При использовании дополнительных бетоноводов сборка, разборка, промывка, погрузка и разгрузка бетоноводов осуществляется силами заказчика.
            <br>
            7. Подвижность бетонной смеси должна соответствовать П3-П4(ОК не ниже 15см)
            <br>
            8. Рекомендованная температура окружающей среды для АБН не ниже -15°C.

            Применение услуги в комплексе позволяет клиентам МИБ существенно экономить собственные ресурсы и время. Оборудование всегда поставляется полностью подготовленное к использованию
    .service#mixer
      h2.service-header Миксер с транспортерной лентой
      .service-body
        .service-img
          img(src="/images/service3.jpg")
        .service-info
          p.
           Предлагаем услугу доставки бетонной/растворной смеси автобетоносмесителем с транспортировочной лентой 17м.
           <br>
           Выгодная аренда автобетоносмесителя с лентой от компании «ТСК Бетон Строй» позволит Вам не только обеспечить качественную заливку бетона, но и значительно оптимизировать затраты на его доставку на стройплощадку, ведь стоимость такой услуги в нашей компании является наиболее приемлемой в Москве.