@import "../mixins";
@import "../constants";
header {
  border-bottom: 1px solid #dadada;
  .header-container {
    height: 100px;
    @include flexbox();
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    .header-logo {
      height: 50px;
    }
    .header-contact {
      @include flexbox();
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;
      .header-contact-mail, .header-contact-phone {
        height: 50px;
        padding-right: 20px;
        div {
          display: inline-block;
          height: 100%;
        }
        i {
          color: $orange_text;
          padding-right: 10px;
        }
        p {
          display: inline-block;
          color: $gray_text;
          font-size: 16px;
          a {
            text-decoration: none;
            transition: color .3s;
            color: $orange_text;
            font-size: 17px;
            font-weight: 500;
            &:hover {
              color: $gray_text;
            }
          }
        }

      }
    }
  }
}
